<%= button_to "Sign in ", new_user_session_path, class: 'btn btn-outline-primary'%>
<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary'%>

<h1>Welcome to my app</h1>
