<div id="<%= dom_id entity %>" class="d-flex justify-content-around align-items-center mt-4">    
    <p>
      <%= entity.name %>
    </p>  
    <p>
      <%= entity.amount %>
    </p>
</div>
