<div id="<%= dom_id entity %>" class="d-flex justify-content-between container align-items-center mt-4 my-3 bg-light">            
    <p><%= entity.name %></p>  
    <strong>$<%= entity.amount %></strong>
</div>
