<%= render 'header'%>

<div id="transactions">
  <% @entities.each do |entity| %>
    <%= render entity %>
    
  <% end %>
</div>

<div class="actions p-3 bg-success d-grid container fixed-bottom">
  <%= link_to 'New transaction', new_group_entity_path, class: "btn btn-success"%>        
</div>
