<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag group.icon, width: 200 if group.icon.attached? %>
  </p>

</div>
