<div id="<%= dom_id group %>" class="d-flex justify-content-around align-items-center">  
  <p>    
    <%= image_tag group.icon, width: 150 if group.icon.attached? %>
  </p>
  <p>    
    <%= group.name %>
  </p>
</div>
