<%= render 'header'%>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <%
=begin%>
 <p>
      <%= link_to "Show this group", group %>
    </p> 
<%
=end%>
  <% end %>
</div>

<div class="actions my-3 p-3 bg-success d-grid container">
  <%= link_to "New group", new_group_path, class: "btn btn-success" %>    
</div>
